<form [formGroup]="registerForm">
      <ion-list>

        <ion-item>
          <ion-label stacked>Prenom</ion-label>
          <ion-input type="text" formControlName="prenom"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label stacked>Nom</ion-label>
          <ion-input type="text" formControlName="nom"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label stacked>Sexe</ion-label>
          <ion-input type="text" formControlName="sexe"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label stacked>Age</ion-label>
          <ion-input type="text" formControlName="age"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label stacked>Telephone</ion-label>
          <ion-input type="text" formControlName="telephone"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label stacked>Login</ion-label>
          <ion-input type="text" formControlName="login" ></ion-input>
        </ion-item>
        <ion-item>
          <ion-label stacked>Mot de passe</ion-label>
          <ion-input type="password" formControlName="pwd" ></ion-input>
        </ion-item>
        <!--ion-item>
          <ion-label stacked>Groupe Sanguin</ion-label>
          <ion-input type="text" formControlName="groupesanguin"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label stacked>Maladie</ion-label>
          <ion-input type="text" formControlName="maladie"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label stacked>Traitement</ion-label>
          <ion-input type="text" formControlName="traitement"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label stacked>Allergie</ion-label>
          <ion-input type="text" formControlName="allergie"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label stacked>Contact1</ion-label>
          <ion-input type="text" formControlName="contact1"></ion-input>
        </ion-item>
        <ion-item  *ngIf="!reduit">
          <ion-label stacked>Contact2</ion-label>
          <ion-input type="text" formControlName="contact2"></ion-input>
        </ion-item -->
        <button type="submit" ion-button full color="success" (click)="onSubmitForm()" >Suivant</button>
      </ion-list>
      </form>