page-home {
ion-header {
  .statusbar {
      background: transparent;
  }
}

.btns{
    height: 30vh;
}

.imgs{
    height: 30vh;
}

.infos{
    height: 40vh;
}

   ion-slides{
       //padding: 0px 0px 0px 0px;
       height: 30vh;
       p{
           text-transform: none;
           font-size: 12px;
           text-align: left;
       };
       h3{
           text-align: left;
       }
   }

$slides-pagination-bullet-color-active: color($colors, appCouleur);

.swiper-pagination-bullet-active {
  background: $slides-pagination-bullet-color-active;
}

img{
    height: 30vh;
    width: 95%;
}


}
